/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* Screen Sizes */
/* Primary Colors */
/* Secondary Colors */
/* Neutral Colors */
/* Typography */
/** Media Queries **/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Libre Franklin", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  min-width: 37.5rem;
  max-width: 144rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 8.1rem 2.7rem 3.7rem 2.8rem;
}
@media (min-width: 1024px) {
  .container {
    padding: 0;
    margin: 8rem 0 4.9rem 0;
    width: 64rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.header {
  text-align: center;
}
.header__logo {
  width: 5.6rem;
}
@media (min-width: 1024px) {
  .header__logo {
    width: 9rem;
  }
}

.content {
  margin: 3.2rem 0;
}
@media (min-width: 1024px) {
  .content {
    margin: 4rem auto;
  }
}

.main-content {
  text-align: center;
}
.main-content__title {
  margin: 0 0 1.5rem 0;
  color: hsl(0, 0%, 59%);
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 3.2rem;
}
@media (min-width: 1024px) {
  .main-content__title {
    margin: 0 0 1.6rem 0;
    font-size: 4.8rem;
    line-height: 6rem;
  }
}
.main-content__title span {
  color: hsl(209, 33%, 12%);
  font-weight: 700;
}
.main-content__tagline {
  margin: 0;
  color: hsl(209, 33%, 12%);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: normal;
}
@media (min-width: 1024px) {
  .main-content__tagline {
    font-size: 2rem;
  }
}

.contact-form {
  margin: 3.2rem 0 7.2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 1024px) {
  .contact-form {
    flex-direction: row;
    align-items: flex-start;
    gap: 1.6rem;
  }
}
.contact-form .form-field {
  text-align: center;
}
@media (min-width: 1024px) {
  .contact-form .form-field {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}
.contact-form .form-field__error-message {
  color: hsl(354, 100%, 66%);
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.125px;
}
@media (min-width: 1024px) {
  .contact-form .form-field__error-message {
    font-size: 1.2rem;
    padding-left: 3rem;
  }
}
.contact-form label {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
}
.contact-form__input {
  display: block;
  width: 28.1rem;
  height: 4rem;
  border-radius: 2.8rem;
  border: 1px solid hsl(223, 100%, 88%);
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0);
  padding: 1rem 3.2rem 1rem 3.2rem;
  color: hsl(223, 100%, 88%);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 20px;
}
@media (min-width: 1024px) {
  .contact-form__input {
    display: inline;
    width: 42.1rem;
    height: 5.6rem;
    font-size: 1.6rem;
  }
}
.contact-form__input--error {
  border: 1px solid hsl(354, 100%, 66%);
}
.contact-form__input--submit {
  background-color: hsl(223, 87%, 63%);
  border: none;
  box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
  padding: 1.2rem auto;
  color: #FFF;
  font-weight: 600;
  line-height: 16px;
}
@media (min-width: 1024px) {
  .contact-form__input--submit {
    width: 20rem;
  }
  .contact-form__input--submit:hover {
    background-color: hsl(223, 87%, 63%);
    opacity: 0.8;
    cursor: pointer;
  }
}

.banner {
  width: 100%;
  height: 19.2rem;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .banner {
    height: 38.3rem;
  }
}
.banner img {
  height: 19.2rem;
}
@media (min-width: 1024px) {
  .banner img {
    height: 38.3rem;
  }
}

.footer {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2.7rem;
}
@media (min-width: 1024px) {
  .footer {
    margin-top: 7.2rem;
    column-gap: 2.5rem;
  }
}

.social {
  gap: 1.249rem;
  display: flex;
}
.social__icon {
  width: 3.1224rem;
  height: 3.1rem;
  border: 0.918px solid rgba(76, 123, 243, 0.15);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .social__icon:hover {
    background: hsl(223, 87%, 63%);
    cursor: pointer;
  }
  .social__icon:hover i {
    color: #FFF;
  }
}
.social__icon i {
  color: hsl(223, 87%, 63%);
  font-size: 1.47rem;
}

.copy {
  margin: 0;
  color: hsl(0, 0%, 59%);
  font-size: 1rem;
  font-weight: 300;
}

/*# sourceMappingURL=app.css.map */
