@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: v.$font;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.container {
    min-width: 37.5rem;
    max-width: 144rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 8.1rem 2.7rem 3.7rem 2.8rem;
    @include m.desktop{
        padding: 0;
        margin: 8rem 0 4.9rem 0;
        width: 64rem;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

