/* Screen Sizes */
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

/* Primary Colors */
$blue: hsl(223, 87%, 63%);

/* Secondary Colors */
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);

/* Neutral Colors */
$gray: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);

/* Typography */
$font: 'Libre Franklin', sans-serif;
$body-font: 2rem;
$light: 300;
$semi-bold: 600;
$bold: 700;