@use '../base/variables' as v;
@use '../base/mixins' as m;

.banner {
    width: 100%;
    height: 19.2rem;
    overflow: hidden;
    @include m.desktop{
        height: 38.3rem;
    }

    & img {
        height: 19.2rem;
        @include m.desktop{
            height: 38.3rem;
        }
    }
}