@use '../base/variables' as v;
@use '../base/mixins' as m;

.content {
    margin: 3.2rem 0;
    @include m.desktop{
        margin: 4rem auto;
    }
}

.main-content {
    text-align: center;

    &__title {
        margin: 0 0 1.5rem 0;
        color: v.$gray;
        font-size: 2.2rem;
        font-weight: v.$light;
        line-height: 3.2rem;
        @include m.desktop{
            margin: 0 0 1.6rem 0;
            font-size: 4.8rem;
            line-height: 6rem;
        }

        & span {
            color: v.$very-dark-blue;
            font-weight: v.$bold;
        }
    }

    &__tagline {
        margin: 0;
        color: v.$very-dark-blue;
        font-size: 1.2rem;
        font-weight: v.$light;
        line-height: normal;
        @include m.desktop{
            font-size: v.$body-font;
        }
    }
}