@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.7rem;
    @include m.desktop{
        margin-top: 7.2rem;
        column-gap: 2.5rem;
    }
}

.social {
    gap: 1.249rem;
    display: flex;

    &__icon {
        width: 3.1224rem;
        height: 3.1rem;
        border: .918px solid rgba(76, 123, 243, 0.15);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include m.desktop{
            &:hover {
                background: v.$blue;
                cursor: pointer;

                i {
                    color: #FFF;
                }
            }
        }

        & i {
            color: v.$blue;
            font-size: 1.47rem;
        }
    }
}

.copy {
    margin: 0;
    color: v.$gray;
    font-size: 1rem;
    font-weight: v.$light;
}