@use '../base/variables' as v;
@use '../base/mixins' as m;

.contact-form {
    margin: 3.2rem 0 7.2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    @include m.desktop{
        flex-direction: row;
        align-items: flex-start;
        gap: 1.6rem;
    }

    & .form-field {
        text-align: center;

        @include m.desktop{
            display: flex;
            flex-direction: column;
            text-align: left;
        }

        &__error-message {
            color: v.$light-red;
            font-size: 1rem;
            font-style: italic;
            font-weight: 400;
            line-height: 2rem;
            letter-spacing: .125px;

            @include m.desktop{
                font-size: 1.2rem;
                padding-left: 3rem;
            }
        }
    }

    & label {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        white-space: nowrap;
    }

    &__input {
        display: block;
        width: 28.1rem;
        height: 4rem;
        border-radius: 2.8rem;
        border: 1px solid v.$pale-blue;
        box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.00);
        padding: 1rem 3.2rem 1rem 3.2rem;
        color: v.$pale-blue;
        font-size: 1.2rem;
        font-weight: v.$light;
        line-height: 20px;

        @include m.desktop {
            display: inline;
            width: 42.1rem;
            height: 5.6rem;
            font-size: 1.6rem;
        }

        &--error {
            border: 1px solid v.$light-red;
        }

        &--submit {
            background-color: v.$blue;
            border: none;
            box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
            padding: 1.2rem auto;
            color: #FFF;
            font-weight: v.$semi-bold;
            line-height: 16px;

            @include m.desktop {
                width: 20rem;

                &:hover {
                    background-color: v.$blue;
                    opacity: .8;
                    cursor: pointer;
                }
            }
        }
    }
}