@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
    text-align: center;

    &__logo {
        width: 5.6rem;
        @include m.desktop{
            width: 9rem;
        }
    }
}